@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

body {
  font-family: "Poppins", sans-serif;

}

a {
  color: green;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

#admin{
    .navbar .nav-item a{
      color: white;
    }
    th{
        text-transform: capitalize;
    }
    td{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  }
