@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

body {
    font-family: "Poppins", sans-serif;
    background-repeat: repeat;
    background-image:url(https://img.freepik.com/free-vector/hand-painted-watercolor-tropical-leaves-background_23-2148931981.jpg?t=st=1713395709~exp=1713399309~hmac=25178efc63c6b01d39147241cf062b0c36dbd5fabd96def380da03fd419e294b&w=1800);
    background-size: cover;
}

a {
    color: green;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

#user {
    .flower-bant {
        display: flex;
        justify-content: space-between;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
