@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

body {
    font-family: "Poppins", sans-serif;
    background-image: url(https://img.freepik.com/premium-vector/camping-landscape-with-mountains-background-watercolor-vector-illustration_154797-487.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: green;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

#user {
    .flower-bant {
        display: flex;
        justify-content: space-between;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
