<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Horse Valley Resort - Admin Bookings</title>
    <link rel="icon" type="image/x-icon"
        href="https://horsevalleyresort.francecentral.cloudapp.azure.com:8080/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'admin.css') }}">
</head>

<body id="admin">
    <nav class="navbar navbar-expand-sm bg-success navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img
                    src="https://horsevalleyresort.francecentral.cloudapp.azure.com:8080/static/images/logo-white.png"
                    width="30px" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/dashboard/rooms">Rooms</a>
                    </li>
                </ul>
                <form class="d-flex" action="{{ url_for('logout') }}" method="get">
                    <button type="submit" class="btn btn-sm btn-danger" type="button">Logout</button>
                  </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <h2 class="my-3">Rooms ({{len}})</h2>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            {% for i in range(0, 1) %}
                            <tr>
                                <th></th>
                                {% for key,value in rooms[0].items() %}
                                <th>{{ key }}</th>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </thead>
                        <tbody>
                            {% for item in rooms %}
                            <tr>
                                <td>
                                    <button class="populate-btn btn btn-success btn-sm"
                                    ><i class="fa-regular fa-pen-to-square"></i></button>
                                    <button class="delete-room btn btn-danger btn-sm" data-roomType={{item.roomType}}><i class="fa-solid fa-trash"></i></button>
                                </td>
                                {% for key, value in item.items() %}
                                <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-3">
                <h2 class="my-3 change-title">Add Room</h2>
                <div class="border p-3 text-center">
                    <form id="data-form" action="/admin/dashboard/rooms" method="POST">
                        <div class="form-floating mb-3 mt-3">
                            <input type="text" class="form-control" id="roomtype" placeholder="Name" name="roomType" required>
                            <label for="image">Room Type</label>
                        </div>
                        <div class="form-floating">
                            <select class="form-select" id="occupancy" name="occupancy" required>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <label for="occupancy" class="form-label">Occupancy:</label>
                        </div>
                        <div class="form-floating mb-3 mt-3">
                            <input type="number" class="form-control" id="roomPrice" placeholder="Room Price" name="roomPrice" required>
                            <label for="roomPrice">Room Price</label>
                        </div>
                        <input type="number" class="form-control" id="available" placeholder="Available" name="available" value="1" style="display:none">
                        <input type="text" class="form-control" id="type" placeholder="Type" name="type" value="add" style="display:none">
                        <div class="form-floating mb-3 mt-3">
                            <input type="text" class="form-control" id="image" placeholder="Enter Image" name="roomImage" required>
                            <label for="image">Room Image Url</label>
                        </div>
                        <div class="form-floating mb-3 mt-3">
                            <input type="text" class="form-control" id="image" placeholder="Enter Image" name="roomTitle" required>
                            <label for="image">Room Title</label>
                        </div>
                        <div class="form-floating mb-3 mt-3">
                            <textarea class="form-control" id="description" name="roomDesc"
                                placeholder="Description goes here" required></textarea>
                            <label for="comment">Room Description</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $(".populate-btn").click(function(){
                $(".change-title").text('Edit Room');
                var roomtype = $(this).data('roomtype');
                var occupancy = $(this).data('occupancy');
                var roomPrice = $(this).data('roomPrice');
                var available = $(this).data('available');
                var roomImage = $(this).data('roomImage');
                var roomTitle = $(this).data('roomTitle');
                var roomDesc = $(this).data('roomDesc');
                $("#roomtype").val(roomtype);
                $("#occupancy").val(occupancy);
                $("#roomPrice").val(roomPrice);
                $("#available").val(available);
                $("#roomImage").val(roomImage);
                $("#roomTitle").val(roomTitle);
                $("#roomDesc").val(roomDesc);
                $("#data-form").show();
            });
            $(".delete-room").click(function(){
                var roomtype = $(this).data('roomtype');
                $("#roomtype").val(roomtype);
                $("#type").val('remove');
                $("#data-form").submit();
            });
        });
    </script>
</body>

</html>
