<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Horse Valley Resort - User Bookings</title>
    <link rel="icon" type="image/x-icon"
        href="https://horsevalleyresort.francecentral.cloudapp.azure.com:8080/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'user.css') }}">
</head>

<body id="user">
    <div class="flower-bant">
        <img src="https://forms.app/assets/img/spring/bant-flower.png">
        <img src="https://forms.app/assets/img/spring/bant-flower1.png">
    </div>
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="../static/images/logo.png" height="30px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Horse Valley Resort</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="accordion" class="mt-5">
                            <div class="card">
                                <div class="card-header">
                                    <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                                        Booking
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        <form id="booking-form" data-availability="{{availability}}" action="/booking"
                                            method="post">
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Name:</label>
                                                <input type="text" class="form-control" id="name" name="name" required>
                                            </div>

                                            <div class="mb-3">
                                                <label for="email" class="form-label">Email:</label>
                                                <input type="email" class="form-control" id="email" name="email"
                                                    required>
                                            </div>

                                            <div class="mb-3">
                                                <label for="check_in" class="form-label">Check-in Date:</label>
                                                <input type="date" class="form-control" id="check_in" name="check_in"
                                                    required>
                                            </div>

                                            <div class="mb-3">
                                                <label for="check_out" class="form-label">Check-out Date:</label>
                                                <input type="date" class="form-control" id="check_out" name="check_out"
                                                    required>
                                            </div>

                                            <div class="mb-3">
                                                <label for="room_type" class="form-label">Room Type:</label>
                                                <select class="form-select" id="room_type" name="room_type" required>
                                                    {% for room, available in availability.items() %}
                                                    <option value="{{ room }}">{{ room }} - {% if available > 0
                                                        %}Available{% elif available == 0 %}Fully Booked{% else %}Not
                                                        Available{% endif %}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <button type="button" class="btn btn-sm" id="addRoom">Add Room</button>
                                            <button type="button" class="btn btn-sm" id="deleteRoom">Delete Room</button>
                                            <button type="submit" class="btn btn-success">Book Now</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                                        Collapsible Group Item #2
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum..
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                                        Collapsible Group Item #3
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum..
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="{{ url_for('static', filename = 'booking.js') }}"></script>
</body>

</html>
