<!DOCTYPE html>
<html>

<head>
  <title>Horse Valley Resort - Sign Up</title>
  <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    function checkPasswordStrength(password) {
      // At least one lower case letter, one upper case letter, one digit, one special character, and at least 8 characters long
      var re = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
      return re.test(password);
    }

    function validateForm() {
      var password = document.getElementById('password').value;
      if (!checkPasswordStrength(password)) {
        alert('Password must be at least 8 characters long, contain a lowercase letter, uppercase letter, a digit and a special character.');
        return false;
      }
      return true;
    }
  </script>
</head>

<body class="d-flex align-items-center justify-content-center vh-100">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="card mt-3">
          <div class="card-body text-center">
            <!-- Tabs Titles -->
            <a href="/admin/login">
              <h2 class="inactive underlineHover"> Sign In </h2>
            </a>
            <h2 class="active">Sign Up </h2>

            <!-- Icon -->
            <div class="fadeIn first">
              <img src="{{ url_for('static', filename = 'user.gif') }}" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form action="{{ url_for('register') }}" method="POST" onsubmit="return validateForm()">
              <input type="text" id="name" class="fadeIn second" name="name" placeholder="Name">
              <input type="email" id="login" class="fadeIn second" name="email" placeholder="Email">
              <input type="password" id="password" class="fadeIn third" name="pass" placeholder="Password">
              <input type="button" onclick="togglePasswordVisibility()" value="Show Password">
              <input type="submit" class="fadeIn fourth" value="Sign Up">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function togglePasswordVisibility() {
      var passwordInput = document.getElementById("password");
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
    }
  </script>
</body>

</html>
