<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
    <style>
      body {
          background-image: url("{{ url_for('static', filename='background.jpeg') }}");
      }
    </style>
    <script>
    function checkPasswordStrength(password) {
        // At least one lower case letter, one upper case letter, one digit, one special character, and at least 8 characters long
        var re = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
        return re.test(password);
    }

    function validateForm() {
        var password = document.getElementById('password').value;
        if (!checkPasswordStrength(password)) {
            alert('Password must be at least 8 characters long, contain a lowercase letter, uppercase letter, a digit and a special character.');
            return false;
        }
        return true;
    }
    </script>
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a href="/login"><h2 class="inactive underlineHover"> Sign In </h2></a>
    <h2 class="active">Sign Up </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{{ url_for('static', filename = 'user.png') }}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="{{ url_for('register') }}" method="POST" onsubmit="return validateForm()">
      <div class="mb-3 mt-3">
        <label for="email">Name:</label>
        <input type="text" id="name" class="form-control" class="fadeIn second" name="name" placeholder="Enter email">
      </div>
      <div class="mb-3 mt-3">
        <label for="email">Email:</label>
        <input type="email" id="login" class="form-control" class="fadeIn second" name="email" placeholder="Enter email">
      </div>
      <div class="mb-3">
        <label for="pwd">Password:</label>
        <div class="input-group">
          <input type="password" id="pswd" class="form-control" class="fadeIn third" name="pswd" placeholder="Enter password">
          <span onclick="togglePasswordVisibility()" class="input-group-text">show</span>
        </div>
      </div>
      <div class="form-check mb-3">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-sm btn-success" class="fadeIn fourth">Sign Up</button>
    </form>
    <form action="{{ url_for('register') }}" method="POST" onsubmit="return validateForm()">
  </div>
</div>
<script>
  function togglePasswordVisibility() {
      var passwordInput = document.getElementById("password");
      if (passwordInput.type === "password") {
          passwordInput.type = "text";
      } else {
          passwordInput.type = "password";
      }
  }
</script>
</body>
</html>
